.Article > .cover {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Article > .container {
  padding: 25px;
}

.Article > .container > .title,
.Article > .container > .info {
 text-align: center;
}

.Article > .container > .info {
  font-size: 14px;
  font-style: italic;
  color: #ccc;
}

.Article .container > .info > span {
  margin-left: 10px;
}

.Article .container > .info > span:hover > sup {
  background-color: #1890ff;
  color: #fff;
  box-shadow: 0 0 0 1px #1890ff inset;
}

.Article .container > .info sup {
  transition: all .3s;
  background-color: #fff;
  color: #999;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
}

.Article .container > .content {
  margin: 0 auto;  
  width: 600px;
}